# Application
DEBUG=false
APP_PORT=8000

# Database
DATABASE_URL=postgresql://hallm:hallm@localhost:5432/hallm
POSTGRES_USER=hallm
POSTGRES_PASSWORD=hallm
POSTGRES_DB=hallm
POSTGRES_PORT=5432

# LLM
LITELLM_DATABASE_URL=postgresql://hallm:hallm@db:5432/hallm
LITELLM_PORT=4000
LITELLM_MASTER_KEY=sk-hallm

# Model API Keys
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
