# Application
DEBUG=false
APP_PORT=8000

# Database
DATABASE_DRIVER=postgresql
DATABASE_HOST=postgres
POSTGRES_USER=hallm
POSTGRES_PASSWORD=hallm
POSTGRES_DB=hallm
POSTGRES_PORT=5432

# Db schemas
HALLM_DB_SCHEMA=hallm
LIBRARY_DB_SCHEMA=library

# Model API Keys
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
GITHUB_PERSONAL_ACCESS_TOKEN=
