# Application
DEBUG=false
APP_PORT=8000

# Database
DATABASE_URL=postgresql://hallm:hallm@localhost:5432/hallm
POSTGRES_USER=hallm
POSTGRES_PASSWORD=hallm
POSTGRES_DB=hallm
POSTGRES_PORT=5432

# Db schemas
HALLM_DB_SCHEMA=hallm
LIBRARY_DB_SCHEMA=library


# Model API Keys
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
